{% extends "SoundSky/main_page.html" %} 
{% block title %}{{ playlist.name }}{% endblock %} 
{% block content %} 
{% csrf_token %}

{% if Playlist.user.username == user.username %}
    <h2><a href="{% url 'Profile' %}">{{user}}</a></h2>
{% else %}
    <h2><a href="{% url 'User' username=Playlist.user %}">{{Playlist.user}}</a></h2>

{% endif %}

{% for Song in Songs %}
<a href="{{Song.get_absolute_url}}">{{Song.name}}</a> <br><br>
{% comment %}
<p>{{ playlist.description }}</p>
{% endcomment %}
<!-- Add more playlist data here -->
{% endfor %} 
{% endblock %}
