{% extends "SoundSky/main_page.html" %} 
{% block title %}{{ playlist.name }}{% endblock %} 
{% block content %} 
{% csrf_token %}
<h1 class="container d-flex justify-content-center align-items-center">{{ Playlist.name }}</h1>
{% if Playlist.user.username == user.username %}
    <h2 class="container d-flex justify-content-center align-items-center">Autor: <a href="{% url 'Profile' %}">{{user}}</a></h2>
{% else %}
    <h2 class="container d-flex justify-content-center align-items-center">Autor: <a href="{% url 'User' username=Playlist.user %}">{{Playlist.user}}</a></h2>

{% endif %}

{% for Song in Songs %}
    <a class="container d-flex justify-content-center align-items-center bg-primary rounded text-light" href="{{Song.get_absolute_url}}">{{Song.name}}</a> <br><br>
{% endfor %} 
{% if count == 0%}
<p class="container d-flex justify-content-center align-items-center">Ta playlista niestety jeszce nie ma dodanych piosenek</p>
{% endif %}
{% endblock %}
