{% extends "SoundSky/main_page.html" %} 
{% block title %}Song{% endblock %} 
{% block content %}
<h1>{{Song.name}}</h1>
<h2><a href="{% url 'User' username=Song.user %}">{{Song.user}}</a></h2>
{% comment %} Artist {% endcomment %}
<audio controls>
  <source src="{{Song.url}}" />
</audio>
<br />
{% if Song.Playlist%}
<h2>Playlists:</h2>
<ul>
  {% for playlist in Song.Playlist.all %}
  <li>{{playlist.name}}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="post">
  {% csrf_token %}
  <select name="plays" id="plays">
    {% for playlist in Playlists %}
    <option value="{{playlist.id}}">{{playlist.name}}</option>
    {% endfor %}
  </select>
  <button type="submit">Dodaj</button>
</form>
{% endblock %}
